.footer {
    flex-shrink: 0;
    height: 6vh;
}

.footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    box-shadow: 0 -1px 3px 1px rgba(0, 0, 0, 0.6);
    background-color: rgb(58, 58, 58);
}

.footer-copyright > span {
    color: rgb(218, 218, 218);
}