.nav {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 80px;
    background-color: rgb(101, 84, 131);
    box-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.6);
    z-index: 1;
    width: 100%;
}

.nav-header-logo {
    margin-left: 20px;
    width: 25%;
    height: 90%;
}

.nav-logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.nav-logo {
    position: absolute;
    width: 15%;
    overflow: auto;
}

.nav-header-btn {
    margin-right: 20px;
    width: 75%;
    height: 90%;
}

.nav-links-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    display: visible;
    width: 40%;
    height: 100%;
}

.nav-links > a {
    padding: 30px 20px;
}