.profil {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(63, 62, 63, 0.349);
}

.profil-docker {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

.profil-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.profil-picture-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.profil-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 300px;
    border: 4px solid rgb(0, 0, 0);
    background-color: white;
}

.profil-description-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 25px;
}

.profil-pseudo {
    text-align: center;
    color: #999;
    font-size: 20pt;
}

.profil-description {
    text-align: center;
    margin-top: 25px;
    margin: 25px 40px;
    color: #999;
    font-size: 11pt;
    padding-bottom: 25px;
    border-bottom: 1px solid #ededed;
    width: 100%;
}

.profil-gallery-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #ededed;
    width: 100%;
}

.profil-gallery {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.gallery-column {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.gallery-link {
    height: min-content;
}

.gallery-thumb {
    margin: 10px 10px;
    cursor: pointer;
}

/********/

.image-editor {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.651);
    
    width: 100%;
    height: 100%;
    position : fixed;
    flex-shrink: 0;
    z-index: 10;
}

.image-edit-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background: rgb(255, 255, 255);
    width: 30%;
    height: 50%;
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
    padding: 20px;
}

.picture-edit {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 50%;
    border: 1px solid rgb(0, 0, 0);
}

.picture-process {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 30%;
}

.select-picture {

}

.submit-picture {

}

.desc-edit {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 50%;
    border: 1px solid rgb(0, 0, 0);
}

.desc-process {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 30%;
}

.define-desc {

}

.submit-desc {

}

.gallery-edit {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 50%;
    border: 1px solid rgb(0, 0, 0);
}

.gallery-process {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 30%;
}

.select-image {

}

.submit-image {

}

.btn-edit {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 20%;
    /* border: 1px solid rgb(0, 0, 0); */
}

.btn-exit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 30%;
}

.exit {

}

.image-viewer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.651);
    
    width: 100%;
    height: 100%;
    position : fixed;
    flex-shrink: 0;
    z-index: 10;
}

.image-viewer-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    background: rgb(255, 255, 255);
    width: 60%;
    height: 60%;
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
}

.message-section {
    display: flex;
    width: 40%;
    height: 100%;
}

.image-docker {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    width: 60%;
    height: 100%;
    /* border: 1px solid rgb(0, 0, 0); */
    object-fit: cover;
    border-radius: 20px;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.display-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}


.message-docker {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    width: 40%;
    height: 100%;
    border-radius: 20px;
}

.message-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 0 15px 0 0;
    padding: 5px 10px;
    box-shadow: inset 0px 0px 4px 3px rgba(0, 0, 0, 0.342);
    background-color: #a6a9be;

    overflow-y: scroll;
    overflow-x: hidden;
}


.message-box {
    width: 100%;
    min-height: 50px;
    height: auto;
    background: red;
    border-radius: 10px;
    margin: 5px;
    padding: 5px 15px;
}

.message {

}

.message-editor-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 40%;
    border-radius: 20px;
}

.message-editor {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.message-user {
    width: 100%;
    height: 70%;
}

.message-submit {
    width: 100%;
    text-align: center;
}

.heart {
    cursor: pointer;
    height: 75px;
    width: 75px;
    background-image:url( 'https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
    background-position: left;
    background-repeat:no-repeat;
    background-size:2900%;
}

.heart:hover {
    background-position:right;
}

.is_animating {
    /* transition: heart-burst; */
    animation: heart-burst .8s steps(28) 1;
    transition: animation;
}

.heart:active {
    background-image: red;
}

@keyframes heart-burst {
    from { background-position:left; }
    to   { background-position:right;}
}