/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

    These two div manage the sign up and sign-in mixed form position.

$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

.register-body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: url("../../../src/img/register_bg.jpg") center no-repeat fixed;
    background-size: cover;
}

.register {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
    height: 50%;
    width: 40%;

    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    background: rgb(67, 58, 83);
}

label {
    transition: all 0.25s cubic-bezier(.53,.01,.35,1.5);
    transform-origin: left;
    position: absolute;
    color: rgba(216, 216, 216, 0.692);
    font-weight: 100;
    letter-spacing: 0.05em;
    font-size: 15px;
    padding: 10px 15px;
    display: block;
    pointer-events: none;
    z-index: 1;
}


/*******************************************

    This block manage the log-in formulaire.

*******************************************/

.register-log-in {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.log-in {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 60%;
    height: 50%;
}

    /*----- 
        This inside-block manage the user field inside the log-in form.
    -----*/

.log-in-user-docker {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.log-in-user-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.log-in-user {
    transition: all 0.25s cubic-bezier(.53,.01,.35,1.5);
    appearance: none;
    background: linear-gradient(120deg, rgba(102, 90, 122, 0.822), rgba(255, 255, 255, 0.288));
    border: 0.1px solid rgb(77, 68, 92);
    font-size: 15px;
    padding: 5px;
    border-radius: 15px;
    color: white;
}

.log-in-user:focus {
    outline: none;
    color: white;
    margin-top: 15px;
}

.log-in-user:valid {
    margin-top: 15px;
}

.log-in-user:focus ~ label {
    transform: translate(0, -17.5px)
}

.log-in-user:valid ~ label {
    transform: translate(-5px, -17.5px) scale(0.75);
}

    /*----- 
        This inside-block manage the password field inside the log-in form.
    -----*/

.log-in-password-docker {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.log-in-password-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.log-in-password {
    transition: all 0.25s cubic-bezier(.53,.01,.35,1.5);
    appearance: none;
    background: linear-gradient(120deg, rgba(102, 90, 122, 0.822), rgba(255, 255, 255, 0.288));
    border: 0.1px solid rgb(77, 68, 92);
    font-size: 15px;
    padding: 5px;
    border-radius: 15px;
    color: white;
}

.log-in-password:focus {
    outline: none;
    color: white;
    margin-top: 15px;
}

.log-in-password:valid {
    margin-top: 15px;
}

.log-in-password:focus ~ label {
    transform: translate(0, -17.5px)
}

.log-in-password:valid ~ label {
    transform: translate(-5px, -17.5px) scale(0.75);
}
    /*----- 
        This inside-block manage the button field inside the log-in form.
    -----*/

.log-in-btn-docker {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.log-in-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.log-in-btn {
    width: 100%;
    height: 100%;

    background-color: rgba(102, 90, 122, 0.822);
    border: 0.1px solid rgb(77, 68, 92);
    font-size: 15px;
    padding: 8px;
    border-radius: 15px;
    color: white;
    font-weight: 100;
    letter-spacing: 0.05em;
}

.log-in-btn:hover {
    background-color: rgba(116, 104, 136, 0.836)
}


/********************************************

    This block manage the sign-in formulaire.

********************************************/

.register-sign-in {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.sign-in {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 60%;
    height: 80%;
}

    /*----- 
        This inside-block manage the pseudo field inside the sign-in form.
    -----*/

.sign-in-pseudo-docker {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sign-in-pseudo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.sign-in-pseudo {
    transition: all 0.25s cubic-bezier(.53,.01,.35,1.5);
    appearance: none;
    background: linear-gradient(120deg, rgba(102, 90, 122, 0.822), rgba(255, 255, 255, 0.288));
    border: 0.1px solid rgb(77, 68, 92);
    font-size: 15px;
    padding: 5px;
    border-radius: 15px;
    color: white;
}

.sign-in-pseudo:focus {
    outline: none;
    color: white;
    margin-top: 15px;
}

.sign-in-pseudo:valid {
    margin-top: 15px;
}

.sign-in-pseudo:focus ~ label {
    transform: translate(0, -17.5px)
}

.sign-in-pseudo:valid ~ label {
    transform: translate(-5px, -17.5px) scale(0.75);
}

    /*----- 
        This inside-block manage the email field inside the sign-in form.
    -----*/

.sign-in-email-docker {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sign-in-email-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.sign-in-email {
    transition: all 0.25s cubic-bezier(.53,.01,.35,1.5);
    appearance: none;
    background: linear-gradient(120deg, rgba(102, 90, 122, 0.822), rgba(255, 255, 255, 0.288));
    border: 0.1px solid rgb(77, 68, 92);
    font-size: 15px;
    padding: 5px;
    border-radius: 15px;
    color: white;
}

.sign-in-email:focus {
    outline: none;
    color: white;
    margin-top: 15px;
}

.sign-in-email:valid {
    margin-top: 15px;
}

.sign-in-email:focus ~ label {
    transform: translate(0, -17.5px)
}

.sign-in-email:valid ~ label {
    transform: translate(-5px, -17.5px) scale(0.75);
}

    /*----- 
        This inside-block manage the password and password-verif field inside the sign-in form.
    -----*/

.sign-in-password-docker {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sign-in-password-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.sign-in-password {
    transition: all 0.25s cubic-bezier(.53,.01,.35,1.5);
    appearance: none;
    background: linear-gradient(120deg, rgba(102, 90, 122, 0.822), rgba(255, 255, 255, 0.288));
    border: 0.1px solid rgb(77, 68, 92);
    font-size: 15px;
    padding: 5px;
    border-radius: 15px;
    color: white;
}

.sign-in-password:focus {
    outline: none;
    color: white;
    margin-top: 15px;
}

.sign-in-password:valid {
    margin-top: 15px;
}

.sign-in-password:focus ~ label {
    transform: translate(0, -17.5px)
}

.sign-in-password:valid ~ label {
    transform: translate(-5px, -17.5px) scale(0.75);
}

    /*----- 
        This inside-block manage the button field inside the sign-in form.
    -----*/

.sign-in-btn-docker {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sign-in-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.sign-in-btn {
    width: 100%;
    height: 100%;

    background-color: rgba(102, 90, 122, 0.822);
    border: 0.1px solid rgb(77, 68, 92);
    font-size: 15px;
    padding: 8px;
    border-radius: 15px;
    color: white;
    font-weight: 100;
    letter-spacing: 0.05em;
}

.sign-in-btn:hover {
    background-color: rgba(116, 104, 136, 0.836)
}


/***************************************************************************

    The div switching between the mode log-in and sign-up.
    It should be forward in z-index, or make the two form behind in z-index.

***************************************************************************/

.register-switch {
    display: none;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: white;
    position: relative;
}

.switch-btn-container {
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 60%;
    height: 80%;
}

.switch-btn {
    display: none;
}