/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

    These two div manage the sign up and sign-in mixed form position.

$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

.register-body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: url("../../../src/img/register_bg.jpg") center no-repeat fixed;
    background-size: cover;
}

.register {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
    height: 50%;
    width: 40%;

    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    background: rgb(67, 58, 83);
}


/*******************************************

    This block manage the log-in formulaire.

*******************************************/

.register-log-in {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.log-in {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 60%;
    height: 50%;
}

    /*----- 
        This inside-block manage the user field inside the log-in form.
    -----*/

.log-in-user-docker {
    display: visible;
}

.log-in-user-container {
    display: visible;
}

.log-in-user {
    display: visible;
}

    /*----- 
        This inside-block manage the password field inside the log-in form.
    -----*/

.log-in-password-docker {
    display: visible;
}

.log-in-password-container {
    display: visible;
}

.log-in-password {
    display: visible;
}

    /*----- 
        This inside-block manage the button field inside the log-in form.
    -----*/

.log-in-btn-docker {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.log-in-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.log-in-btn {
    width: 100%;
    height: 100%;
}


/********************************************

    This block manage the sign-in formulaire.

********************************************/

.register-sign-in {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.sign-in {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 60%;
    height: 50%;
}

    /*----- 
        This inside-block manage the pseudo field inside the sign-in form.
    -----*/

.sign-in-pseudo-docker {
    display: visible;
}

.sign-in-pseudo-container {
    display: visible;
}

.sign-in-pseudo {
    display: visible;
}

    /*----- 
        This inside-block manage the email field inside the sign-in form.
    -----*/

.sign-in-email-docker {
    display: visible;
}

.sign-in-email-container {
    display: visible;
}

.sign-in-email {
    display: visible;
}

    /*----- 
        This inside-block manage the password and password-verif field inside the sign-in form.
    -----*/

.sign-in-password-docker {
    display: visible;
}

.sign-in-password-container {
    display: visible;
}

.sign-in-password {
    display: visible;
    /* border: none;
    background: none; */
}

    /*----- 
        This inside-block manage the button field inside the sign-in form.
    -----*/

.sign-in-btn-docker {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sign-in-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.sign-in-btn {
    width: 100%;
    height: 100%;
}


/***************************************************************************

    The div switching between the mode log-in and sign-up.
    It should be forward in z-index, or make the two form behind in z-index.

***************************************************************************/

.register-switch {
    display: none;
}

.switch-btn-container {
    display: none;
}

.switch-btn {
    display: none;
}