.parameter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    background: url("../../../src/img/register_bg.jpg") center no-repeat fixed;
    background-size: cover;
}

.parameter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 40%;
    min-height: 70%;
    height: 70%;
    background-color: rgba(139, 91, 145, 0.829);
    border-radius: 15px;
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.342);
    border: 0.5px solid black;
}

.parameter-menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 30%;
    min-height: 100%;
    margin-right: 10px;
    border-right: 2px solid rgba(0, 0, 0, 0.473);
}

.menu-account {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-height: 50px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.473);
}

.parameter-option-docker {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    min-height: 100%;
}

.parameter-option-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 1px;
    padding: 5px 10px;
}

.option-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 120px;
    text-align: center;
    width: 95%;
    margin: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.473);
}

.option-password > input, .option-email > input {
    width: 60%;
}

.option-email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100px;
    text-align: center;
    width: 95%;
}